nav.main-nav.my-2.my-md-0.mr-md-3
  a.p-2.text-light(href='/', title='Home') Home
  a.p-2.text-light(href='/about', title='about') About
  a.p-2.text-light(href='/typography', title='typography') Typography